@using CoreData
@model Comment
<div class="comment-row">
    @if (Session["Username"] != null)
    {
    <span>@Session["Username"].ToString(): @Model.CommentContent</span>
    }
    else
    {
        <span>@Model.Name: @Model.CommentContent</span>
    }
    <div class="reply-row">
        <a parid="@Model.ID" class="reply-link" href="#">Trả lời</a>
    </div>
</div>
