@{
    ViewBag.Title = "Bài dự thi cuộc thi ảnh - " + Model.UserNameExt;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using CoreData
@model Examinee
             @{
  
                 var link = "http://cuocthijba.com/album/" + Model.UserNameExt.Replace(" ", "-") + "-p"+Model.ID+".html";
   } 
@if (Model != null)
{
    <input type ="hidden" value="@Model.ID" name="txtid" id="txtid" />
    <div class="container clearfix">
        <div class="postWrap">
            <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
                <div class="contentbox">
                    <div class="topbar">
                        <p class="space border-color-5">
                          Hình ảnh</p>
                    </div>
                    <p class="featured-image">
                        <img src="/Media/PictureExam/@Model.Image" alt="">
                    </p>
                    <div class="textbox clearfix">
                      @Html.Raw(Model.Description)
                    </div>
                    @*<p class="categories">
                    Categories: &nbsp; <a href="http://pinthis-rtl.pixelbeautify.com/category/commercial/"
                        title="شاهد جميع المقالات في Commercial" rel="category tag">Commercial</a></p>*@
                    @*<div class="metabar clearfix">
                        <h4 class="title-5">
                            Bình luận</h4>
                    </div>*@
                    <!-- <div class="comment-respond-wrapper "> -->
                    @*<div>
                      <center>
                    <div class="fb-comments" data-href="@Model.Link" data-width="100%" data-numposts="5" data-colorscheme="dark"></div>
                   </center>
                   </div>*@
                    @*<div class="comments" id="mainComment">
                        @Html.Action("_ListComment", "Comment", new { @articleid = Model.ID })
                    </div>
                    <div id="respond" class="comment-respond">
                        <p class="comment-form-url">
                            <input id="txtname" name="txtname" placeholder="Name " type="text" value></p>
                        <p class="comment-form-comment">
                            <textarea id="commentcontent" name="commentcontent" placeholder="Comment " aria-required="true"></textarea></p>
                        <p class="form-submit">
                            <input name="submitcomment" class="button button-color-1" type="submit" id="submitcomment"
                                value="Comment">
                        </p>
                    </div>*@
                    <!-- #respond -->
                    <!-- </div> -->
                </div>
                <div style="width:100%; height:2px; background:#999999; margin-top:10px; margin-bottom:10px"></div>
                <div style="font-size:large">Bình luận</div>
                <div>
                     <center>
                        <div class="fb-comments" data-href="@link" data-width="100%" data-numposts="15" data-colorscheme="dark"></div>
                       </center>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="contentbox">
                <h4 class="title-1 border-color-2">
                    Album</h4>
                <div class="widgetwrapper">
                    <ul class="recentposts clearfix">
                        @Html.Action("_ListPictureExam", "PictureExam", new { @userid = @Model.UserID })
                    </ul>
                </div>
            </div>
        </aside>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".recentposts").find("li").click(function (e) {
            e.preventDefault() ? e.preventDefault() : e.returnValue;
            $(".featured-image").find("img").attr("src", $(this).find("img").attr("src"))
        });
    });

  

</script>

<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=331902120290983&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>