@using CoreData
@using System.Text.RegularExpressions
@model IEnumerable<Article>
@if (Model.Count() > 0)
{
    var i = 0;
    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tSortablearticle">
        <thead>
            <tr>
                <th width="20px">STT
                </th>
                <th width="70px">Tiêu đề</th>
                <th width="70px">Hình ảnh</th>
                <th width="75px">Danh mục</th>
                <th width="60px">Người đăng</th>
                <th width="60px">Trạng thái</th>
                <th width="60px">Chức năng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td width="20px">
                        @i
                        <span class="SpanId" style="display: none;">@item.ID</span>
                    </td>
                    <td width="70px">
                        @item.Title
                    </td>
                    <td width="70px">
                        <img src="@Url.Content("~/Media/article/"+ item.Image)" width="70px" height="70px" alt="@item.Title" /></td>
                    <td width="75px">
                        @item.CategoryNameExt
                    </td>
                    <td width="60px">
                        @item.UserNameExt
                    </td>
                    <td width="60px">
                        @Html.CheckBoxFor(x => item.Active, new { @disabled = "disabled" })
                    </td>
                    <td width="60px">
                     @if (CameraShop.BaseController.Permission.Contains("U"))
                     {
                        <a title="Sửa" href="@Url.Action("AddOrUpdate", "ArticleManagement", new { id = item.ID })" class="icon-pencil"></a>
                     }
                      @if (CameraShop.BaseController.Permission.Contains("D"))
                      {
                        <a title="Xóa" href="@Url.Action("Delete", "ArticleManagement", new { id = item.ID })" class="icon-trash" onclick="return confirm('Có chắc bạn muốn xóa ?');"></a>
                      }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="error-text">Không tìm thấy dữ liệu.
    </h2>
}