@using CoreData
@using Helper
@model IList<Search>
@{
    var TitleName = @ViewBag.TitleName;
    ViewBag.Title = "Tìm kiếm cho từ khóa " + '"' + @TitleName + '"';
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper pagerHelper()
    {
        var TitleName = @ViewBag.TitleName;
        int totalPage = Model.FirstOrDefault().TotalPageExt;
        int currentPage = (int)Model.First().PageExt;
        int i = 0;
        var catId = Model.FirstOrDefault().CatID;
    <ul>
        <li class="bullet-first"><a href="@Url.Action("Index", "Search", new { @page = 1, @catid = catId, @value = TitleName })">
            <<</a></li>
        @if (currentPage > 1)
        {
            <li class="bullet-prev"><a href="@Url.Action("Index", "Search", new { @page = currentPage - 1, @catid = catId, @value = TitleName })">
                <</a></li>
        }
        @if (totalPage > 0)
        {
            var startPage = currentPage - 2;
            var endPage = currentPage + 2;
            if (startPage < 1) { startPage = 1; }
            if (endPage > totalPage) { endPage = totalPage; }

            if (currentPage >= 4)
            {
            <li>...</li>
            }
            for (i = startPage; i <= endPage; i++)
            {
                if (currentPage == i)
                {
            <li class="current-page"><a href="@Url.Action("Index", "Search", new { @page = i, @catid = catId, @value = TitleName})">@i</a></li>
                }
                else
                {
            <li><a href="@Url.Action("Index", "Search", new { @page = i, @catid = catId, @value = TitleName})">@i</a></li>
                }
            }
            if (currentPage <= totalPage - 2)
            {
            <li>...</li>
            }
        }
        @if (currentPage < totalPage)
        {
            <li class="bullet-next"><a href="@Url.Action("Index", "Search", new { @page = currentPage + 1, @catid = catId, @value = TitleName })">
                ></a></li>
        }
        <li class="bullet-last"><a href="@Url.Action("Index", "Search", new { @page = totalPage, @catid = catId, @value = TitleName })">
            >></a></li>
    </ul>
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/search.css")" rel="stylesheet" type="text/css" />
}
<div class="main-content">
    <div class="grid-row">
        <div class="grid-left-module">
            @if (Model.Count() > 0)
            {
                <div class="left-module">
                    <div class="module-head">
                        <h4 class="active">
                            Mục liên quan đến "@ViewBag.TitleName"</h4>
                    </div>
                    <div class="left-category">
                        @Html.Action("_GetChildCategory", "Category", new { @CatId = Model.First().CatID })
                    </div>
                </div>
            }
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="center-module">
                <div class="search-tool">
                    <div class="search-left-tool">
                        <label>
                            Giá từ:</label>
                        <select id="priceFrom" class="select">
                            <option value="0">dưới 1 triệu</option>
                            <option value="1">1 triệu</option>
                            <option value="2">2 triệu</option>
                            <option value="3">3 triệu</option>
                            <option value="4">4 triệu</option>
                            <option value="5">5 triệu</option>
                            <option value="6">6 triệu</option>
                            <option value="7">7 triệu</option>
                            <option value="8">8 triệu</option>
                            <option value="9">9 triệu</option>
                            <option value="10">10 triệu</option>
                        </select>
                        <label>
                            đến
                        </label>
                        <select id="priceTo" class="select">
                            <option value="1">1 triệu</option>
                            <option value="2">2 triệu</option>
                            <option value="3">3 triệu</option>
                            <option value="4">4 triệu</option>
                            <option value="5">5 triệu</option>
                            <option value="6">6 triệu</option>
                            <option value="7">7 triệu</option>
                            <option value="8">8 triệu</option>
                            <option value="9">9 triệu</option>
                            <option value="10">10 triệu</option>
                            <option value="11">hơn 10 triệu</option>
                        </select>
                    </div>
                    <div class="search-right-tool">
                        <label>
                            Hiển thị
                        </label>
                        <select class="select page-count">
                            <option>12</option>
                            <option>20</option>
                            <option>28</option>
                            <option>36</option>
                        </select>
                    </div>
                </div>
                <div class="module-head">
                    <h4>
                        Kết quả tìm kiếm cho từ khóa "@TitleName" (@Model.FirstOrDefault().CountItemExt)</h4>
                </div>
                <div class="list-search">
                    <ul>
                        @foreach (var item in Model)
                        {
                            var Description = item.Description;
                            if (item.Description.Length > 170)
                            {
                                Description = item.Description.Substring(0, 120) + "...";
                            }
                            <li><a class="result-link-img" href="@item.Link">
                                <img src="@item.Image" alt="n1" />
                            </a>
                                <div class="result-infor">
                                    <h2>
                                        <a href="@item.Link" class="product-title">@item.Name</a></h2>
                                    <p>
                                        @Description</p>
                                    <span class="more-infor"><span>@item.Type</span></span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="module-foot">
                    <div class="link-to-all">
                        @pagerHelper()
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section BottomResource{
    <script src="@Url.Content("~/Content/js/search.js")" type="text/javascript"></script>
}
