<header class="with-header-nav-menu">
    <div class="container clearfix">
        <div class="left-part">
            <nav class="menu-categories dropel">
                <a href="#" onclick="return false;" class="icon-menu-categories tooltip"
                    title="">Categories</a>
                @*<div class="dropdown">
                    <div class="dropdown-wrapper arrow-up-left">
                        <ul class="categories-list">
                            <li class="cat-item cat-item-13"><a href="#"
                                title="شاهد جميع المقالات في تصنيف Celebrities">Make up</a> </li>
                            <li class="cat-item cat-item-1"><a href="#"
                                title="شاهد جميع المقالات في تصنيف Commercial">Hair</a> </li>
                            <li class="cat-item cat-item-14"><a href="#"
                                title="شاهد جميع المقالات في تصنيف Landscapes">Esthetics</a> </li>
                            <li class="cat-item cat-item-19"><a href="#"
                                title="شاهد جميع المقالات في تصنيف Sport">Nails</a> </li>
                        </ul>
                    </div>
                </div>*@
            </nav>
            <div class="search-box clearfix dropel">
                <a href="#" onclick="return false;" class="icon-zoom">
                    Search</a>
                <div class="dropdown">
                    <div class="dropdown-wrapper arrow-up-left">
                        @Html.Action("_SearchInputControl", "Search")
                    </div>
                </div>
            </div>
        </div>
        <h1 class="logo">
            <a href="@Url.Action("Index", "Home")" title="Jbart - cuộc thi ảnh">
                <img src="/Media/Jbart/@ViewBag.Logo"  alt="Jbart - cuộc thi ảnh">
            </a>
        </h1>
        <div class="right-part">
            <div class="log-in-out dropel">
                @if (Session["UserID"] == null || Session["UserID"].ToString() == "")
                {
                <a href="#" onclick="return false;" title="Đăng Nhập" class="icon-login tooltip"></a>
                <div class="dropdown">
                    <div class="dropdown-wrapper arrow-up-right">
                        <div id="login-form">
                            @*<form name="login-form" id="login-form" action="@Url.Action("LoginHome","Home")"
                        method="post">*@
                            <p class="login-username">
                                <label for="user_login">
                                    Tài khoản</label>
                                <input type="text" name="log" id="user_login" class="input" value="Tài khoản" size="20">
                            </p>
                            <p class="login-password">
                                <label for="user_pass">
                                    Mật khẩu</label>
                                <input type="password" name="pwd" id="user_pass" class="input" value="password" size="20">
                            </p>
                            <p class="login-submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="button-primary loginweb" value="Login">
                            </p>
                            @*</form>*@
                        </div>
                        <p class="login-links clearfix">
                            <span class="fleft"><a href="@Url.Action("ForgotPassword", "Home")"
                                title="Lost password">Quên mật khẩu ?</a> </span><span class="fright"><a href="@Url.Action("Register", "Home")">
                                    Đăng ký</a></span>
                        </p>
                    </div>
                </div>
                }
                else
                {
                    <a href="#" title="Đã đăng Nhập" class="tooltip">Xin chào, @Session["UserName"]</a>
                    <div class="dropdown">
                    <div class="dropdown-wrapper arrow-up-right">
                        <div id="login-form" style="width:150px">
                           <p class="login-username">
                                <a href="@Url.Action("Profile", "User")">Thông tin cá nhân</a>
                            </p>
                            <p class="login-username">
                                <a href="@Url.Action("LogOffHome", "Home")">Thoát</a>
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="container fluid clearfix">
        <a href="http://pinthis-rtl.pixelbeautify.com/#" onclick="return false;" class="icon-nav-menu">
            Menu</a>
        <div class="header-menu">
            <div class="header-menu-wrapper arrow-up-right">
                <ul id="menu-menu-1" class="header-menu-list">
                    <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-241">
                        <a href="/">Trang chủ</a>
                       
                    </li>
                    @Html.Action("_GetArticleDefault", "Article")
                   @* <li id="menu-item-231" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-231">
                        <a href="@Url.Action("Detail", "Article", new { @id = "" + 12 + "", name = @Helper.StringHelper.RemoveVietNamString(Model.Title)})">Giới thiệu</a></li>
                    <li id="menu-item-232" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-232">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 13 + "", name = @Helper.StringHelper.RemoveVietNamString(Model.Title)})">Thể lệ cuộc thi</a></li>
                   <li id="menu-item-232" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-232">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 15 + "", name = @Helper.StringHelper.RemoveVietNamString(Model.Title)})">Nội dung thi</a></li>
                    <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 14 + "", name = @Helper.StringHelper.RemoveVietNamString(Model.Title)})">Giải thưởng</a></li>*@
                   
                </ul>
            </div>
        </div>
    </div>
</header>