@{
    ViewBag.Title = "Đăng ký tài khoản mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CoreData
@model User
@section HeadResource{
    <title>@ViewBag.Title</title>
}
<div class="login-view">
    <div class="login-box">
        <div class="box-inner">
            <div class="content-login">
                <div class="module-head">
                    <h4>
                        Tạo tài khoản mới</h4>
                </div>
                <div class="std">
                    @Html.ValidationSummary()
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <ul>
                            <li>
                                <label>
                                    Họ tên (*):</label>@Html.TextBoxFor(x => x.Name, new { @class = "txt" })</li>
                            <li>
                                <label>
                                    Tên đăng nhập (*):</label>@Html.TextBoxFor(x => x.UserName, new { @class = "txt" })</li>
                            <li>
                                <label>
                                    Mật khẩu (*):</label>@Html.PasswordFor(x => x.Password, new { @class = "txt", @id = "txt-Password" })</li>
                            <li>
                                <label>
                                    Nhập lại mật khẩu (*):</label>@Html.PasswordFor(x => x.TempPassWordExt, new { @class = "txt", @id = "txt-rePassword" })</li>
                            <li>
                                <label>
                                    Email:</label>@Html.TextBoxFor(x => x.Email, new { @class = "txt" })</li>
                            <li>
                                <label>
                                    Điện thoại (*):</label>@Html.TextBoxFor(x => x.Phone, new { @class = "txt" })</li>
                            <li>
                                <div class="inside-row">
                                    <label>
                                        Địa chỉ:</label>@Html.TextBoxFor(x => x.Address, new { @class = "txt" })</div>
                            </li>
                            <li class="control-register">
                                <input id="btn-register" class="button button-color-1" type="submit" value="Đăng ký tài khoản" />
                            </li>
                            
                           
                        </ul>
                    }
                </div>
                

                <div class="std">
                  
                   
                        <ul>
                           
                             <li class="control-register">
                                <form   action="@Url.Action("LoginFB", "Home")"
                        method="post">
                                <input id="btn1" class="button button-color-1" type="submit" value="Đăng ký bằng facebook" />
                                </form>
                            </li>
                           
                        </ul>
                   
                </div>



            </div>
        </div>
    </div>
</div>
