@using CoreData
@using Helper
@model List<OrderDetail>
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/shoppingcart.css")" rel="stylesheet" type="text/css" />
}
@section BottomResource{
    <script type="text/javascript" src="@Url.Content("~/Content/js/shoppingcart.js")"></script>
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Bello</a> <span class="arrow-to-right"></span>
            </li>
            <li><a href="@Url.Action("Profile", "User")">Đơn hàng</a> <span class="arrow-to-right">
            </span></li>
            <li><a href="@Url.Action("Detail", "Oder", new { @id = Model.First().OrderID })">Chi tiết
                đơn hàng</a> <span class="arrow-to-right"></span></li>
        </ul>
    </div>
}
<div class="main-content">
    <div class="grid-row">
        <div class="module-head">
            <h4>
                Chi tiết đơn hàng</h4>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            var status = "";
            double total = 0;
            using (Html.BeginForm("UpdateOrderDetail", "Order", FormMethod.Post))
            {
            <div class="cart-view">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>
                                Mã chi tiết
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Thành tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    #@item.ID
                                </td>
                                <td class="single-price">
                                    <a href="@Url.RouteUrl("product_details", new { Id = item.ProductID, Link = item.ProductLinkExt })">@item.ProductNameExt</a>
                                </td>
                                <td>@Helper.StringHelper.FormatCurrencyVN(item.Price)
                                </td>
                                <td class="amount-price">@item.Amount
                                </td>
                                <td>
                                    @Helper.StringHelper.FormatCurrencyVN(@item.Total)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="cart-detail-footer">
                    <div class="footer-tool">
                        <p>
                            Tổng tiền: <span class="totalPrice" id="totalPrice">@Helper.StringHelper.FormatCurrencyVN(Model.First().Total)</span></p>
                        <div class="checkout-cart-tool">
                            <a class="btn" href="@Url.Action("Profile", "User")">Trở về đơn hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="customer-info">
                <ul>
                    <li><span>
                        <label>
                            Tên khách hàng:
                        </label>@Model.First().NameExt</span> </li>
                    <li><span>
                        <label>
                            Địa chỉ giao hàng:
                        </label>@Model.First().AddressExt</span> </li>
                    <li><span>
                        <label>
                            Điện thoại:
                        </label>@Model.First().PhoneExt</span> </li>
                    <li>
                        @{
            DateTime datetime = @Model.First().CreateDateExt;
                            <span>
                                <label>
                                    Ngày tạo đơn hàng:
                                </label>@datetime.Hour giờ, ngày @datetime.ToShortDateString()</span>
                        }
                    </li>
                </ul>
            </div>
            <div class="comment-box">
                @Html.Action("_AddOrderDetailComment", "CustomerIdea", new { _orderid = Model.First().OrderID })
            </div>
        }
        else
        { 
            @: Bạn chưa có sản phẩm trong đơn hàng.
                            }
    </div>
</div>
@*<div class="main-content">
    <div class="grid-row">
        <div class="module-head">
            <h4>
                Chi tiết đơn hàng</h4>
        </div>
        <div class="cart-view">
            <table>
                <thead>
                    <tr>
                        <th>
                            Mã chi tiết
                        </th>
                        <th>
                            Sản phẩm
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Thành tiền
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45
                        </td>
                        <td>
                            Máy ảnh CANON 35TDG
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            100.000,00 ₫
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="cart-detail-footer">
                <div class="footer-tool">
                    <p>
                        Tổng tiền: <span class="totalPrice" id="totalPrice">3.800.000,00 ₫</span></p>
                    <div class="checkout-cart-tool">
                        <a class="btn" href="Profile.html">Trở về đơn hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-info">
            <ul>
                <li><span>
                    <label>
                        Tên khách hàng:
                    </label>
                    Trung Lê</span> </li>
                <li><span>
                    <label>
                        Địa chỉ giao hàng:
                    </label>
                    sfsdfsd</span> </li>
                <li><span>
                    <label>
                        Điện thoại:
                    </label>
                    dsfsdfdsf</span> </li>
                <li><span>
                    <label>
                        Ngày tạo đơn hàng:
                    </label>
                    17 giờ, ngày 12/22/2013</span> </li>
            </ul>
        </div>
        <div class="comment-box">
            <div class="comment-item">
                <div class="module-head">
                    <h4>
                        Phản hồi đơn hàng</h4>
                </div>
                <ul>
                    <li>
                        <label>
                            Upload ảnh:</label>
                        <input type="file" class="file" id="fileuploadcusomeridea" name="Ideafile" />
                    </li>
                    <li>
                        <div id="imagecomment">
                        </div>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
            <div class="comment-item">
                <textarea class="txt" id="inputComment"></textarea>
            </div>
            <div class="comment-item">
                <input type="submit" class="btn" value="Gửi ý kiến" />
            </div>
        </div>
    </div>
</div>
*@