@using CoreData
@using Helper
@model List<Order>
@{
    Layout = null;
}
@if (Model != null && Model.Count() > 0)
{
    var status = "";
    double total = 0;
    using (Html.BeginForm("Update", "Order", FormMethod.Post))
    {
    <div class="tab-inner">
        <table class="cart-table">
            <thead>
                <tr>
                    @*<th>
                        <input class="chk-all" type="checkbox" />
                    </th>*@
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Phí ship
                    </th>
                    <th>
                        Tổng phí
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Ngày hoàn tất
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Công cụ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    total += item.TotalPrice;
                    if (item.Status == 1) { status = "Đơn hàng mới"; }
                    else if (item.Status == 2) { status = "Đang xử lý"; }
                    else if (item.Status == 3) { status = "Hoàn tất"; }
                    else if (item.Status == 4) { status = "Đã thanh toán"; }
                    else if (item.Status == 5) { status = "Đã hủy"; }
                    <tr>
                        @*<td>
                            <input name="ID" chkid="@item.ID" class="chk-item" type="checkbox" />
                        </td>*@
                        <td>
                            #@item.ID
                        </td>
                        <td class="single-price">@Helper.StringHelper.FormatCurrencyVN(item.Ship_Fee)
                        </td>
                        <td>@Helper.StringHelper.FormatCurrencyVN(item.TotalPrice)
                        </td>
                        <td class="amount-price">@item.CreateDate
                        </td>
                        <td>
                            @item.DateCompleted
                        </td>
                        <td>
                            @status
                        </td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <a href="@Url.Action("updateStatus", "order", new { @id = item.ID, @statusid = 5 })" title="Hủy đơn hàng này" class="btn-icon btn-cancel-other">
                                </a>
                            }
                            else if (item.Status == 5)
                            {
                                <a href="@Url.Action("updateStatus", "order", new { @id = item.ID, @statusid = 1 })" title="Phục hồi đơn hàng này" class="btn-icon btn-recover-other">
                                </a>
                            }
                            <a href="@Url.Action("detail", "order", new { @id = "" + @item.ID + "" })" title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="cart-detail-footer">
            <div class="footer-tool">
                <p>
                    Tổng tiền: <span class="totalPrice" id="totalPrice">@Helper.StringHelper.FormatCurrencyVN(total)</span></p>
                <div class="checkout-cart-tool">
                    <a class="btn" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
                </div>
            </div>
        </div>
    </div>
    
@* <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="chk" />
                    </th>
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Phí ship
                    </th>
                    <th>
                        Tổng phí
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Ngày hoàn tất
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Công cụ
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Phục hồi đơn hàng này" class="btn-icon btn-recover-other"></a>
                        <a href="orderdetail.html" title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Hủy đơn hàng này" class="btn-icon btn-cancel-other"></a><a href="orderdetail.html"
                            title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail"></a>
                    </td>
                </tr>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Hủy đơn hàng này" class="btn-icon btn-cancel-other"></a><a href="orderdetail.html"
                            title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail"></a>
                    </td>
                </tr>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Phục hồi đơn hàng này" class="btn-icon btn-recover-other"></a>
                        <a href="orderdetail.html" title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Phục hồi đơn hàng này" class="btn-icon btn-recover-other"></a>
                        <a href="orderdetail.html" title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="chk-box">
                        <input type="checkbox" class="chk" />
                    </td>
                    <td>
                        #45
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        100.000,00 ₫
                    </td>
                    <td>
                        30/3/2014
                    </td>
                    <td>
                        40/3/2014
                    </td>
                    <td>
                        Hoàn tất
                    </td>
                    <td>
                        <a href="#" title="Phục hồi đơn hàng này" class="btn-icon btn-recover-other"></a>
                        <a href="orderdetail.html" title="Xem chi tiết đơn hàng này" class="btn-icon btn-detail">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-detail-footer">
            <div class="footer-tool">
                <p>
                    Tổng tiền: <span class="totalPrice" id="totalPrice">100.000,00 ₫</span></p>
                <div class="checkout-cart-tool">
                    <a class="btn" href="index.html">Tiếp tục mua hàng</a>
                </div>
            </div>
        </div>*@
    }
}
else
{ 
    @: Bạn chưa có sản phẩm trong đơn hàng.
}