@using CoreData
@using Helper
@model List<ShoppingCart>
@{
    var toTalProduct = 0;
    var toTalPrice = 0;
    if (Model != null)
    {
        foreach (var item in Model)
        {
            toTalProduct = toTalProduct + item.Amount;
        }
        foreach (var item in Model)
        {
            toTalPrice = toTalPrice + item.TotalPrice;
        }
    }
    <a href="@Url.Action("Index", "ShoppingCart")"><span class="lu-icon lu-icon-cart"><b>@toTalProduct</b></span>
        <p class="nav-cart-text">
            Giỏ hàng</p>
    </a>
    <div class="topcart-dropdown">
        <div class="topcart-dropdown-tiny">
            <p>
            Sản phẩm: @toTalProduct</p>
            <span>Tổng tiền: @Helper.StringHelper.FormatVND(int.Parse(toTalPrice.ToString()))</span> <a class="btn btn-blue" href="@Url.Action("Index", "ShoppingCart")">
                Xem chi tiết</a>
        </div>
    </div>
}
