@using CoreData
@using Helper
@model IEnumerable<Product>
<div class="grid-row">
    <div class="grid-content-row">
        <div class="grid-left-module">
            <div class="left-module saleSlide">
                <div class="module-head">
                    <h4>
                        Khuyến mãi</h4>
                </div>
                <div class="slide-block-image">
                    <ul class="inner-module">
                        @if (Model != null && Model.Count() > 0)
                        {
                            var listDiscount = Model.Where(x => x.Discount > 0 && x.DiscountTo >= DateTime.Now);
                            if (listDiscount != null && listDiscount.Count() > 0)
                            {
                                foreach (var item in listDiscount)
                                {
                                    var percent = ((float)item.Discount / item.Price) * 100;
                                    string sTrPercent = ((int)percent).ToString() + "%";
                            <li class="slide-item"><a href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })" target="_blank">
                                <img src="@Url.Content("~/Media/Product/" + @item.Image + "")" alt="@item.Image" />
                            </a>
                                <div class="discount-percent">
                                    <label>
                                        Giảm</label>
                                    <span>@sTrPercent</span>
                                </div>
                                <div class="slide-item-infor">
                                    <a href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })" target="_blank">@item.Name</a>
                                    <div class="sprice-block">
                                        <span class="discount-sprice">@Helper.StringHelper.ConvertNumberToVietNamCurrency(item.Discount.ToString())</span>
                                        <span class="real-sprice">@Helper.StringHelper.ConvertNumberToVietNamCurrency(item.Price.ToString())</span>
                                    </div>
                                    <span class="discount-to">Đến ngày: @item.DiscountTo.ToString("dd/MM/yyyy")</span>
                                </div>
                            </li>
                                }
                            }
                            else { 
                                @Html.Action("_ColumnBanner", "BannerLogo", new { @position = ValueDefine.BannerLogoPosition.LeftBanner, @CatId = Model.First().CateID })
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        @if (Model != null && Model.Count() > 0)
        { 
            <div class="center-module slideProduct">
                <div class="module-head">
                    <h4 class="active">
                        @Model.First().CategoryNameExt</h4>
                    <div class="link-to-all">
                        <a class="btn-icon btn-view-more" href="@Url.RouteUrl("category_details", new { Id = Model.First().CateID, Link = Model.First().CategoryExt.Link })" title="Tất cả của @Model.First().CategoryNameExt">
                            Tất cả của @Model.First().CategoryNameExt>></a>
                    </div>
                </div>
                <div class="slide-overflow-hide">
                    <ul class="inner-module">
                        @foreach (var item in Model)
                        {
                            <li class="grid-content-item slide-item">
                                <div class="block-item">
                                    <a href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })">
                                        <img src="@Url.Content("~/Media/Product/" + @item.Image + "")" alt="@item.Image">
                                    </a>
                                    <div class="block-item-infor">
                                        <a href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })">@item.Name</a>
                                        <div class="sprice-block">
                                            <span class="discount-sprice">@Helper.StringHelper.ConvertNumberToVietNamCurrency(item.Price.ToString())</span>
                                        </div>
                                    </div>
                                    <div class="tool-payment">
                                        <a href="@Url.Action("BuyNow", "ShoppingCart", new { ProductId = item.ID, Qty = 1 })" class="btn btn-pay">
                                            Mua ngay</a>
                                        <input type="button" ProductId=@item.ID Qty="1" type="button" class="btn btn-add-cart" title="Thêm vào giỏ hàng">
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="grid-right-module">
            <div class="right-module saleSlide">
                <div class="module-head">
                    <h4>
                        Dịch vụ khác</h4>
                </div>
                <div class="slide-block-image">
                    <ul class="inner-module">
                        @Html.Action("_ColumnBanner", "BannerLogo", new { @position = ValueDefine.BannerLogoPosition.RightBanner, @CatId = Model.First().CateID })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
