@using CoreData
@model User
@using (Html.BeginForm("UpdateInfor", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="tab-inner">
        <div class="grid-data detail-grid">
            <div class="profile-area">
                <div class="std">
                    <ul>
                        <li>
                            <h2>
                                Xin chào, @Model.UserName</h2>
                        </li>
                        <li>
                            <label>
                                Mật khẩu cũ:</label>
                            @Html.PasswordFor(m => m.TempPassWordExt, new { @class = "txt", @id = "txtPassWord" })
                        </li>
                        <li>
                            <label>
                                Mật khẩu mới:</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "txt", @id = "txtNewPassWord" })
                        </li>
                        <li>
                            <label>
                                Nhập lại mật khẩu mới:</label>
                            <input class="txt" id="txtReNewPassWord" type="password" /></li>
                    </ul>
                </div>
            </div>
            <div class="profile-area">
                <div class="module-head">
                    <h4>
                        Thông tin cá nhân</h4>
                </div>
                <div class="std">
                    <ul>
                        <li>
                            <label>
                                Số báo danh</label>
                            @Html.HiddenFor(m => m.ExamineeIDExt)
                            @Html.HiddenFor(m => m.ExamineeCodeExt)
                            @Html.DisplayFor(m => m.ExamineeCodeExt)
                        </li>
                        <li>
                            <label>
                                Ảnh đại diện:</label>
                            <input id="fileuploadprofile" type="file" name="file" />
                            @if (Model != null && Model.ImageExt != null && Model.ImageExt != "")
                            {
                                <div id="imageprofile">
                                    <img src="@Url.Content("~/Media/ProfileAvatar/" + Model.ImageExt)" width="120px" height="120px" alt="@Model.ImageExt" />
                                </div>
                            }
                            else
                            {
                                <div id="imageprofile">
                                </div>
                            }
                        </li>
                        <li>
                            <label>
                                Họ tên:</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "txt" })</li>
                        <li>
                            <label>
                                Email:</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "txt" })</li>
                        <li>
                            <label>
                                Điện thoại:</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "txt" })</li>
                        <li>
                            <label>
                                Địa chỉ:</label>
                            @Html.TextBoxFor(m => m.Address, new { @class = "txt" })</li>
                        @*<li>
                            <label>
                                Tỉnh/Thành Phố:</label>
                            @Html.DropDownListFor(m => m.ProvinceIDExt, Model.ListProvinceExt, new { @id = "provinceID", @class = "select" })
                        </li>*@
                        <li>
                            <div class="control-apply">
                                <input id="btn-change-infor" class="button button-color-1" type="submit" value="Chấp nhận">
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    ///Document Ready jQuery
    $(document).ready(function () {

        $('#fileuploadprofile').fileupload({
            dataType: 'json',
            url: '/User/UploadFiles?dir=ProfileAvatar',
            autoUpload: true,
            done: function (e, data) {
                $('#imageprofile').html('<img width=\"120px\" height=\"120px\" src="/Media/ProfileAvatar/' + data.result.name + '" />');

            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css('width', progress + '%');
        });

    });
</script>
