@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CoreData
@model Article
<div class="container clearfix">
    <div class="postWrap">
        <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
            <div class="contentbox">
               
               
                <div>@Html.Raw(Model.Title)</div>
               
               <div>@Html.Raw(Model.Content)</div>
              
            </div>
        </div>
    </div>
    <aside class="sidebar">
          <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Bài viết</h4>
         <ul id="menu-menu-1" class="header-menu-list">
                    <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-241">
                        <a href="/">Trang chủ</a>
                       
                    </li>
                    <li id="menu-item-231" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-231">
                        <a href="@Url.Action("Detail", "Article", new { @id = "" + 12 + "" })">Giới thiệu</a></li>
                    <li id="menu-item-232" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-232">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 13 + "" })">Thể lệ cuộc thi</a></li>
                   <li id="menu-item-232" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-232">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 15 + "" })">Nội dung thi</a></li>
                    <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244">
                         <a href="@Url.Action("Detail", "Article", new { @id = "" + 14 + "" })">Giải thưởng</a></li>
                   
                </ul>
        </div>
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Calendar</h4>
            <div id="calendar_wrap">
                <table id="wp-calendar">
                    <caption>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" title="الإثنين">
                                ن
                            </th>
                            <th scope="col" title="الثلاثاء">
                                ث
                            </th>
                            <th scope="col" title="الأربعاء">
                                ر
                            </th>
                            <th scope="col" title="الخميس">
                                خ
                            </th>
                            <th scope="col" title="الجمعة">
                                ج
                            </th>
                            <th scope="col" title="السبت">
                                س
                            </th>
                            <th scope="col" title="الأحد">
                                أ
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td id="prev">
                                <a href="http://pinthis-rtl.pixelbeautify.com/2014/05/" title="مشاهدة المقالات لمايو 2014">
                                    « مايو</a>
                            </td>
                            <td class="pad caption">
                                يونيو 2014
                            </td>
                            <td id="next" class="pad">
                                &nbsp;
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td colspan="6" class="pad">
                                &nbsp;
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                4
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                6
                            </td>
                            <td>
                                7
                            </td>
                            <td>
                                8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                11
                            </td>
                            <td>
                                12
                            </td>
                            <td>
                                13
                            </td>
                            <td>
                                14
                            </td>
                            <td>
                                15
                            </td>
                        </tr>
                        <tr>
                            <td>
                                16
                            </td>
                            <td id="today">
                                <span>17</span>
                            </td>
                            <td>
                                18
                            </td>
                            <td>
                                19
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                21
                            </td>
                            <td>
                                22
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23
                            </td>
                            <td>
                                24
                            </td>
                            <td>
                                25
                            </td>
                            <td>
                                26
                            </td>
                            <td>
                                27
                            </td>
                            <td>
                                28
                            </td>
                            <td>
                                29
                            </td>
                        </tr>
                        <tr>
                            <td>
                                30
                            </td>
                            <td class="pad" colspan="6">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </aside>
</div>
