@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/payment.css")" rel="stylesheet" type="text/css" />
}
@section BottomResource{
    <script src="@Url.Content("~/Content/js/payment.js")" type="text/javascript"></script>
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Bello</a> <span class="arrow-to-right"></span>
            </li>
            <li><a href="@Url.Action("Index", "Payment")">Thanh toán</a> <span class="arrow-to-right">
            </span></li>
            <li><span>@ViewBag.Title</span></li>
        </ul>
    </div>
}
<div class="main-content">
    <div class="grid-row">
        <div class="pay-success-view">
            <div class="module-head">
                <h4>
                    Đặt hàng thành công</h4>
            </div>
            <h3>
                Bạn đã đặt hàng thành công, chúng tôi sẽ liên hệ bạn để xác nhận việc mua hàng và thanh toán.</h3>
        </div>
    </div>
</div>
