@using CoreData
@model IEnumerable<Product>
@if (Model != null && Model.Count() > 0)
{ 
    <div class="product-container new">
        <h1 class="general-heading">
            <span>Sản phẩm mới</span> <a href="@Url.Action("NewProducts","Product")">Xem thêm >></a>
        </h1>
        <div class="list-product">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <div class="product-holder">
                            <a class="product-link-img" href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })">
                                <img src="@Url.Content("~/Media/Product/"+item.Image)" alt="n1" />
                            </a>
                            <div class="product-infor">
                                <h2>
                                    <a href="@Url.RouteUrl("product_details", new { Id = item.ID, Link = item.Link })" class="product-title">@item.Name</a></h2>
                                <div class="actions-box">
                                    <input onclick="window.location='@Url.Action("BuyNow", "ShoppingCart", new { ProductId=item.ID, Qty=1})';" type="button" class="btn-blue btn-buy" title="Mua sản phẩm này" />
                                    <input ProductId=@item.ID Qty="1" type="button" class="btn btn-add-cart" title="Thêm sản phẩm này vào giỏ hàng" /></div>
                                <div class="price-box">
                                    <span>@Helper.StringHelper.ConvertNumberToVietNamCurrency(item.Price.ToString())</span></div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}