@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
    @using Helper
    <script src="@Url.ContentArea("~/Content/javascript/Order.js")" type="text/javascript"></script>
     <script src="@Url.ContentArea("~/Content/javascript/User.js")" type="text/javascript"></script>
<div class="row-fluid">
    <div class="span12">

        <div class="widgetButtons">
            <div class="bb"><a title="Quản trị người dùng" href="@Url.Action("Index", "UserManagement")"><span class="ibw-users"></span></a></div>
            @*<div class="bb">
                <a title="Quản trị sản phẩm" href="@Url.Action("Index", "ProductManagement")"><span class="ibw-documents"></span></a>
            </div>*@
            <div class="bb"><a title="Quản lý danh mục" href="@Url.Action("Index", "CategoryManagement")"><span class="ibw-list"></span></a></div>
           @* <div class="bb"><a title="Quản lý Nhà sản xuất" href="@Url.Action("Index", "ManufacturerManagement")"><span class="ibw-archive"></span></a></div>*@
            <div class="bb">
                <a title="Cấu hình" href="#")"><span class="ibw-mail"></span></a>
            </div>
        </div>

    </div>
</div>
<div class="dr"><span></span></div>
@*<div class="head">
    <div class="isw-grid">
    </div>
    <h1>
        Đơn hàng mới</h1>
    <ul class="buttons">
        <li><a href="#" class="isw-settings"></a>
            
        </li>
    </ul>
    <div class="clear">
    </div>
</div>

<div class="block-fluid table-sorting">
    <div class="row-fluid list">
        @Html.Action("_ShowAll", "OrderManagement", new { status = (int)Helper.ValueDefine.OrderStatus.New })
    </div>
</div>*@


<div class="head">
    <div class="isw-grid">
    </div>
    <h1>
        Danh sách người dùng</h1>
    <ul class="buttons">
        <li><a href="#" class="isw-settings"></a>
            
        </li>
    </ul>
    <div class="clear">
    </div>
</div>

<div class="block-fluid table-sorting">
    <div class="row-fluid listcus">
          @Html.Action("_ShowAll", "UserManagement", new { _groupid = 1 })
    </div>
</div>


<script type="text/javascript">
    ///Document Ready jQuery
    $(document).ready(function () {

        loadGrid(1);
        reloadGrid(1);

    });
</script>
