@{
    ViewBag.Title = "Thanh toán qua Credit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/payconfirm.css")" rel="stylesheet" type="text/css" />
}
<script src="@Url.Content("~/Content/plugins/payment/PaymentProcess.js")" type="text/javascript"></script>
@model CoreData.CreditCard
<div class="pay-card-view">
    <h1 class="general-heading">
        <span>@ViewBag.Title</span>
    </h1>
    <div class="pay-card-box">
        <h3>
        Vui lòng nhập thông tin Creadit Card</h3>
        <ul>
            <li>
                <div class="inside-row"><label>Last name:</label> @Html.TextBoxFor(x => x.Lastname, new { @class = "txt" })</div>
                <div class="inside-row"><label>First name:</label> @Html.TextBoxFor(x => x.Firstname, new { @class = "txt" })</div>
            </li>
            <li><label>Adderss:</label> @Html.TextBoxFor(x => x.Address, new { @class = "txt" })</li>
            <li>
                <div class="inside-row"><label>City:</label> @Html.TextBoxFor(x => x.City, new { @class = "txt" })</div>
                <div class="inside-row"><label>State or Province:</label> @Html.TextBoxFor(x => x.State, new { @class = "txt" })</div>
            </li>
            <li>
                <div class="inside-row"><label>Country code:</label> @Html.TextBoxFor(x => x.CountryCode, new { @class = "txt" })</div>
                <div class="inside-row"><label>Country Name:</label> @Html.TextBoxFor(x => x.CountryName, new { @class = "txt" })</div>
            </li>
            <li><label>Zip code:</label> @Html.TextBoxFor(x => x.Zipcode, new { @class = "txt" })</li>
            <li><label>Card type:</label>
                <select class="select" id="Cardtype">
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">MasterCard</option>
                </select>
            </li>
            <li>
                <div class="inside-row"><label>Card number:</label> @Html.TextBoxFor(x => x.CardNumber, new { @class = "txt" })</div>
                <div class="inside-row"><label>CVV2:</label> @Html.PasswordFor(x => x.CVV2, new { @class = "txt" })</div>
            </li>
            <li>
                <div class="inside-row"><label>Exprired Month:</label> @Html.TextBoxFor(x => x.ExpriredMonth, new { @class = "txt" })</div>
                <div class="inside-row"><label>Exprired Year:</label> @Html.TextBoxFor(x => x.ExpriredYear, new { @class = "txt" })</div>
            </li>
        </ul>
        <div class="control-payconfirm"><button type="submit" class="btn-blue btnsubmit">Thanh toán</button></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        jQuery(".btnsubmit").PayWithCreditCard();

    });
</script>
