@*@using CoreData
@model User*@
@using Helper
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="../../Content/css/colorbox.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/plugins/KyersTab/css/kyersTab.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/fileuploader.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/fileuploader.css")"/>
    <link href="@Url.Content("~/Content/Plugins/JQueryUpload/jquery.fileupload.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/Plugins/JQueryUpload/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Plugins/JQueryUpload/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="../../Content/js/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../../Content/js/picturexam.js" type="text/javascript"></script>
    <script src="../../Content/plugins/SmallEditor/nicEdit.js" type="text/javascript"></script>
}
@section BottomResource{
    <script src="../../Content/plugins/KyersTab/js/kyersTab.js" type="text/javascript"></script>
    <script type="text/javascript">
        var area2;
        function addArea2() {
            area2 = new nicEditor({ fullPanel: true }).panelInstance('area2');
        }
        (function ($) {
            $(document).ready(function (e) {
                $(".topbar").find("li").find("a").kyersTab({ "tabItem": ".tab-item" });
                $(".navbtns").find("a").on("click", function () {
                    addArea2();
                });
                
            });
            
            $.fn.DeleteImage = function () {
                var id = $(this).attr("virid");
                $(this).click(function () {
                    $.ajax({
                        type: 'get',
                        url: '/PictureExam/Delete/',
                        traditional: true,
                        dataType: 'html',
                        data: { id: id },
                        complete: function (data) {
                            $.ajax({
                                type: 'get',
                                url: '/PictureExam/_ListPictureExamProfile/',
                                traditional: true,
                                dataType: 'html',
                                complete: function (edata) {
                                    $("#listpicture").html(edata.responseText);
                                    $(".btn-delete").DeleteImage();
                                }
                            });

                        }
                    });
                });
            }
            $(".btn-delete").DeleteImage();
        })(jQuery);
    </script>
}
<div class="container clearfix">
    <div class="postWrap">
        <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
            <div class="contentbox">
                <div class="topbar">
                    <ul class="navbtns navprofile">
                        <li><a href="#">User Profile</a></li>
                        <li><a href="#">Album Ảnh</a> </li>
                    </ul>
                    <p class="space border-color-5">
                        &nbsp;</p>
                </div>
                <div class="tab-content">
                    <ul class="tab-list">
                        <li class="tab-item">
                            @Html.Action("_ProfileInfor", "User")
                        </li>
                        <li class="tab-item">
                            <div>
                                @Html.Action("_PictureExam", "PictureExam")
                            </div>
                            <ul>
                                <li id="listpicture">
                                    @Html.Action("_ListPictureExamProfile", "PictureExam")
                                </li>
                            </ul>
                            <div style="background: #fff; width: 80%; margin: 10px auto 20px auto; padding: 5px 0 5px 15px;">
                                @Html.Action("_IntroducePictureExamProfile", "PictureExam")
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Album</h4>
            <div class="widgetwrapper">
                <ul class="recentposts clearfix">
                    @Html.Action("_ListPictureExam", "PictureExam")
                </ul>
            </div>
        </div>
        <div class="contentbox">
            <form role="search" method="get" id="searchform" class="searchform" action="http://pinthis-rtl.pixelbeautify.com/">
            <div>
                <label class="screen-reader-text" for="s">
                    البحث عن:</label>
                <input type="text" value name="s" id="s">
                <input type="submit" id="searchsubmit" value="بحث">
            </div>
            </form>
        </div>
    </aside>
</div>
